<!-- <detalle-cliente *ngIf="clienteSeleccionado" [cliente] ="clienteSeleccionado"></detalle-cliente> -->
<app-edicion-cocktail *ngIf="drinkSeleccionado"></app-edicion-cocktail>
<app-shared-header></app-shared-header>
<div class="card border-primary mb-3">
  <!-- <div class="card-header">Cocteles</div> -->
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Cocteles</h5>


    <div class="my-2 text-left">
      <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre ..."
      (keyup)="presionarTecla(txtInput.value)"
      #txtInput
      >
    </div>

   <div *ngIf="cargando" class="mt-1">

    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span role="status">Loading...</span>
    </button>
   </div>



    <table *ngIf="listadoCocteles.length > 0" class="table table-bordered table-striped" >
      <thead class="text-center">
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Fecha de Modificación</th>

          <th >Detalles</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let coctel of listadoCocteles">
          <td>

            <img
              [src]="coctel.strDrinkThumb" alt="Sin foto" class="img-thumbnail rounded"
              style="width:60px; cursor: pointer;">
            </td>
          <td>{{coctel.strDrink}}</td>
          <td>{{coctel.strCategory}}</td>
          <td>{{coctel.strAlcoholic}}</td>
          <td *ngIf="coctel.dateModified">{{coctel.dateModified | date}}</td>
          <td *ngIf="!coctel.dateModified" class="text-danger">Sin Registro</td>
          <td >
            <button type="button" name="eliminar" (click)="abrirModal(coctel)" class="btn btn-primary">Ver Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
   <!--  <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav> -->
  </div>
</div>
