<div class="abrir-modal animacion fadeIn" *ngIf="_modalService.modal" >
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-dismiss="modal" aria-label="Close">


          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">

              <div class="col-sm">
                <ul  class="list-group text-dark mb-3">
                  <li class="list-group-item active">{{coctel.strAlcoholic}}</li>
                  <li class="list-group-item">{{coctel.strCategory}}</li>
                  <li class="list-group-item"><span class="text-primary fw-bold">Ingrediente 1</span>: {{coctel.strIngredient1}}</li>
                  <li class="list-group-item"><span class="text-primary fw-bold">Ingrediente 2</span>: {{coctel.strIngredient2}}</li>
                  <li class="list-group-item"><span class="text-primary fw-bold">Ingrediente 3</span>: {{coctel.strIngredient3}}</li>
                  <li *ngIf="coctel.strIngredient4" class="list-group-item"><span class="text-primary fw-bold">Ingrediente 4</span>: {{coctel.strIngredient4}}</li>
                </ul>
              </div>

              <div class="col-sm">
                <img  [src]="coctel.strDrinkThumb"
                class="img-thumbnail rounded">
              </div>

            <div>
              <h3>Instrucciones</h3>
              <p>{{coctel.strInstructions}}</p>
            </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
